name: MakePDF
on:
  push:
    branches:
      - main

jobs:
  compile-pdf:
    name: Compile pdf
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create pdfs
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "*.tex"
          working_directory: "Reports/"
          glob_root_file: true
          work_in_root_file_dir: true

      - name: Create Files on GitHub
        uses: actions/upload-artifact@v3
        with:
          name: PDF
          path: |
            Reports/Lab_1.pdf
            Reports/Lab_2.pdf
            Reports/Lab_3.pdf
            Reports/Lab_4.pdf
            Reports/Lab_5.pdf
            Reports/Lab_Project.pdf  
